* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: brand;
  src: url(Brand.ttf);
}

body {
  background-color: white;
}

:root {
  --padding: 2vh;
  --parafont: freight-big-pro, serif;
  --bigfont: brand;
  --proxima: proxima-nova-extra-condensed,sans-serif;
}

.pace {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  z-index: 99999999;
  position: fixed;
  margin: auto;
  top: 350px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 3px;
  font-size: 12px;
  background: red;
  color: white;
  line-height: 30px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: center;
  right: 50px;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after {
  right: -200px;
}

.pace .pace-progress[data-progress-text="1%"]:after {
  right: -198.14px;
}

.pace .pace-progress[data-progress-text="2%"]:after {
  right: -196.28px;
}

.pace .pace-progress[data-progress-text="3%"]:after {
  right: -194.42px;
}

.pace .pace-progress[data-progress-text="4%"]:after {
  right: -192.56px;
}

.pace .pace-progress[data-progress-text="5%"]:after {
  right: -190.7px;
}

.pace .pace-progress[data-progress-text="6%"]:after {
  right: -188.84px;
}

.pace .pace-progress[data-progress-text="7%"]:after {
  right: -186.98px;
}

.pace .pace-progress[data-progress-text="8%"]:after {
  right: -185.12px;
}

.pace .pace-progress[data-progress-text="9%"]:after {
  right: -183.26px;
}

.pace .pace-progress[data-progress-text="10%"]:after {
  right: -181.4px;
}

.pace .pace-progress[data-progress-text="11%"]:after {
  right: -179.54px;
}

.pace .pace-progress[data-progress-text="12%"]:after {
  right: -177.68px;
}

.pace .pace-progress[data-progress-text="13%"]:after {
  right: -175.82px;
}

.pace .pace-progress[data-progress-text="14%"]:after {
  right: -173.96px;
}

.pace .pace-progress[data-progress-text="15%"]:after {
  right: -172.1px;
}

.pace .pace-progress[data-progress-text="16%"]:after {
  right: -170.24px;
}

.pace .pace-progress[data-progress-text="17%"]:after {
  right: -168.38px;
}

.pace .pace-progress[data-progress-text="18%"]:after {
  right: -166.52px;
}

.pace .pace-progress[data-progress-text="19%"]:after {
  right: -164.66px;
}

.pace .pace-progress[data-progress-text="20%"]:after {
  right: -162.8px;
}

.pace .pace-progress[data-progress-text="21%"]:after {
  right: -160.94px;
}

.pace .pace-progress[data-progress-text="22%"]:after {
  right: -159.08px;
}

.pace .pace-progress[data-progress-text="23%"]:after {
  right: -157.22px;
}

.pace .pace-progress[data-progress-text="24%"]:after {
  right: -155.36px;
}

.pace .pace-progress[data-progress-text="25%"]:after {
  right: -153.5px;
}

.pace .pace-progress[data-progress-text="26%"]:after {
  right: -151.64px;
}

.pace .pace-progress[data-progress-text="27%"]:after {
  right: -149.78px;
}

.pace .pace-progress[data-progress-text="28%"]:after {
  right: -147.92px;
}

.pace .pace-progress[data-progress-text="29%"]:after {
  right: -146.06px;
}

.pace .pace-progress[data-progress-text="30%"]:after {
  right: -144.2px;
}

.pace .pace-progress[data-progress-text="31%"]:after {
  right: -142.34px;
}

.pace .pace-progress[data-progress-text="32%"]:after {
  right: -140.48px;
}

.pace .pace-progress[data-progress-text="33%"]:after {
  right: -138.62px;
}

.pace .pace-progress[data-progress-text="34%"]:after {
  right: -136.76px;
}

.pace .pace-progress[data-progress-text="35%"]:after {
  right: -134.9px;
}

.pace .pace-progress[data-progress-text="36%"]:after {
  right: -133.04px;
}

.pace .pace-progress[data-progress-text="37%"]:after {
  right: -131.18px;
}

.pace .pace-progress[data-progress-text="38%"]:after {
  right: -129.32px;
}

.pace .pace-progress[data-progress-text="39%"]:after {
  right: -127.46px;
}

.pace .pace-progress[data-progress-text="40%"]:after {
  right: -125.6px;
}

.pace .pace-progress[data-progress-text="41%"]:after {
  right: -123.74px;
}

.pace .pace-progress[data-progress-text="42%"]:after {
  right: -121.88px;
}

.pace .pace-progress[data-progress-text="43%"]:after {
  right: -120.02px;
}

.pace .pace-progress[data-progress-text="44%"]:after {
  right: -118.16px;
}

.pace .pace-progress[data-progress-text="45%"]:after {
  right: -116.3px;
}

.pace .pace-progress[data-progress-text="46%"]:after {
  right: -114.44px;
}

.pace .pace-progress[data-progress-text="47%"]:after {
  right: -112.58px;
}

.pace .pace-progress[data-progress-text="48%"]:after {
  right: -110.72px;
}

.pace .pace-progress[data-progress-text="49%"]:after {
  right: -108.86px;
}

.pace .pace-progress[data-progress-text="50%"]:after {
  right: -107px;
}

.pace .pace-progress[data-progress-text="51%"]:after {
  right: -105.14px;
}

.pace .pace-progress[data-progress-text="52%"]:after {
  right: -103.28px;
}

.pace .pace-progress[data-progress-text="53%"]:after {
  right: -101.42px;
}

.pace .pace-progress[data-progress-text="54%"]:after {
  right: -99.56px;
}

.pace .pace-progress[data-progress-text="55%"]:after {
  right: -97.7px;
}

.pace .pace-progress[data-progress-text="56%"]:after {
  right: -95.84px;
}

.pace .pace-progress[data-progress-text="57%"]:after {
  right: -93.98px;
}

.pace .pace-progress[data-progress-text="58%"]:after {
  right: -92.12px;
}

.pace .pace-progress[data-progress-text="59%"]:after {
  right: -90.26px;
}

.pace .pace-progress[data-progress-text="60%"]:after {
  right: -88.4px;
}

.pace .pace-progress[data-progress-text="61%"]:after {
  right: -86.53999999999999px;
}

.pace .pace-progress[data-progress-text="62%"]:after {
  right: -84.68px;
}

.pace .pace-progress[data-progress-text="63%"]:after {
  right: -82.82px;
}

.pace .pace-progress[data-progress-text="64%"]:after {
  right: -80.96000000000001px;
}

.pace .pace-progress[data-progress-text="65%"]:after {
  right: -79.1px;
}

.pace .pace-progress[data-progress-text="66%"]:after {
  right: -77.24px;
}

.pace .pace-progress[data-progress-text="67%"]:after {
  right: -75.38px;
}

.pace .pace-progress[data-progress-text="68%"]:after {
  right: -73.52px;
}

.pace .pace-progress[data-progress-text="69%"]:after {
  right: -71.66px;
}

.pace .pace-progress[data-progress-text="70%"]:after {
  right: -69.8px;
}

.pace .pace-progress[data-progress-text="71%"]:after {
  right: -67.94px;
}

.pace .pace-progress[data-progress-text="72%"]:after {
  right: -66.08px;
}

.pace .pace-progress[data-progress-text="73%"]:after {
  right: -64.22px;
}

.pace .pace-progress[data-progress-text="74%"]:after {
  right: -62.36px;
}

.pace .pace-progress[data-progress-text="75%"]:after {
  right: -60.5px;
}

.pace .pace-progress[data-progress-text="76%"]:after {
  right: -58.64px;
}

.pace .pace-progress[data-progress-text="77%"]:after {
  right: -56.78px;
}

.pace .pace-progress[data-progress-text="78%"]:after {
  right: -54.92px;
}

.pace .pace-progress[data-progress-text="79%"]:after {
  right: -53.06px;
}

.pace .pace-progress[data-progress-text="80%"]:after {
  right: -51.2px;
}

.pace .pace-progress[data-progress-text="81%"]:after {
  right: -49.34px;
}

.pace .pace-progress[data-progress-text="82%"]:after {
  right: -47.480000000000004px;
}

.pace .pace-progress[data-progress-text="83%"]:after {
  right: -45.62px;
}

.pace .pace-progress[data-progress-text="84%"]:after {
  right: -43.76px;
}

.pace .pace-progress[data-progress-text="85%"]:after {
  right: -41.9px;
}

.pace .pace-progress[data-progress-text="86%"]:after {
  right: -40.04px;
}

.pace .pace-progress[data-progress-text="87%"]:after {
  right: -38.18px;
}

.pace .pace-progress[data-progress-text="88%"]:after {
  right: -36.32px;
}

.pace .pace-progress[data-progress-text="89%"]:after {
  right: -34.46px;
}

.pace .pace-progress[data-progress-text="90%"]:after {
  right: -32.6px;
}

.pace .pace-progress[data-progress-text="91%"]:after {
  right: -30.740000000000002px;
}

.pace .pace-progress[data-progress-text="92%"]:after {
  right: -28.880000000000003px;
}

.pace .pace-progress[data-progress-text="93%"]:after {
  right: -27.02px;
}

.pace .pace-progress[data-progress-text="94%"]:after {
  right: -25.16px;
}

.pace .pace-progress[data-progress-text="95%"]:after {
  right: -23.3px;
}

.pace .pace-progress[data-progress-text="96%"]:after {
  right: -21.439999999999998px;
}

.pace .pace-progress[data-progress-text="97%"]:after {
  right: -19.58px;
}

.pace .pace-progress[data-progress-text="98%"]:after {
  right: -17.72px;
}

.pace .pace-progress[data-progress-text="99%"]:after {
  right: -15.86px;
}

.pace .pace-progress[data-progress-text="100%"]:after {
  right: -14px;
}

.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 99999999;
}

.pace.pace-inactive {
  display: none;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap {
  width: 2vh;
}

.navbar {
  display: none;
}

.menu {
  display: none;
}

.scrollerbtn-container {
  display: none;
}

.snavbar-container {
  width: 15vh;
  height: 100%;
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-11vh);
          transform: translateX(-11vh);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.snavbar-container:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hoverblock {
  width: 5vh;
  height: 10%;
  background: #C72026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 10px 10px 0;
}

.snavarrow {
  width: 2vh;
  margin-left: 1vh;
}

.navcblock {
  width: 10vh;
  height: 100vh;
  background: #C72026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapcontainer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.chapcontainer:hover {
  background: white;
  cursor: pointer;
}

.chapcontainer:hover .snavchaptext, .chapcontainer:hover .snavchapnum {
  color: black;
  cursor: pointer;
}

.snavchaptext {
  font-family: var(--proxima);
  font-size: 2vh;
  color: white;
  margin-top: 1vh;
}

.snavchapnum {
  font-family: brand;
  font-size: 3vh;
  color: white;
}

.snavseparator {
  width: 70%;
  background: white;
  height: 1px;
}

.abouttext-container {
  display: none;
}

.closebtnwrapper {
  display: none;
}

.closeaboutwrapper {
  width: 10vh;
  height: 10vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 999999;
  opacity: 0;
}

.closeabout {
  width: 6vh;
}

.about-container {
  width: 100%;
  height: auto;
  background: white;
  position: absolute;
  z-index: 99999;
  opacity: 0;
  display: none;
}

.sipname-wrapper {
  margin-top: 3vh;
}

.sipimg {
  width: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.aboutsip {
  line-height: 4vh;
}

.siptitle {
  font-family: var(--proxima);
  font-size: 3vh;
  font-weight: 800;
}

.leftsec2 {
  margin-top: 3vh;
}

.leftseparator {
  width: 100%;
  height: 1px;
  background: black;
}

.about-left {
  display: -ms-grid;
  display: grid;
  padding: 5vh;
}

.peoplelist {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5vh;
}

.people {
  margin-bottom: 1vh;
}

.designation {
  font-family: var(--proxima);
  font-size: 2vh;
  color: #919191;
}

.peoplenames {
  font-family: var(--proxima);
  font-size: 2.5vh;
  margin-top: -0.5vh;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  z-index: 1000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlaytext {
  font-family: brand;
  color: white;
  font-size: 15vh;
}

.overlaytextwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.overlaysub {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: -5vh;
  font-size: 2vh;
}

.int-s1 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
}

.logocontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

.logo {
  width: 40vh;
}

.mobarrowcontainer {
  Width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5vh;
}

.arrowcontainer {
  display: none;
}

.mobarrowcontainer2 {
  Width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowcontainer2 {
  display: none;
}

.mobarrowbtn {
  background: red;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vh;
}

.mobarrowbtn2 {
  background: red;
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobarrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 8vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobarrow2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 8vh;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobarrowbtn:hover .arrow {
  margin-top: 4vh;
}

.chapterintro {
  width: 100%;
  height: auto;
  padding: var(--padding);
}

.lgchapter {
  width: 100%;
}

.chapterheading {
  font-family: var(--proxima);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5vh;
}

.poppyflower {
  width: 40%;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  margin-top: -25vh;
  z-index: 1;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list span {
  line-height: 8vh;
  font-size: 7vh;
  margin: 0.05rem;
  font-family: brand;
}

.parablocksection {
  width: 100%;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.mobparablocksection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.chapterparablock {
  display: block;
}

.round {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  text-align: center;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Change the shape according
        to the image */
  shape-outside: circle();
  background-color: black;
  margin: 0rem 1rem 0rem 0rem;
}

article {
  font-size: 12vh;
  font-family: brand;
  padding-top: 1.5rem;
  color: white;
}

.para {
  font-size: 2vh;
  max-width: 100%;
  text-align: justify;
  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;
}

.narrow {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(int-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.n1 {
  background-image: url(int-img2.jpg);
  height: 50vh;
  background-size: cover;
  background-position: 80% 50%;
}

.n2 {
  background-image: url(int-img8.jpg);
}

.n3 {
  background-image: url(part1-img5.jpg);
}

.n4 {
  background-image: url(part1-img8.jpg);
}

.p2n1 {
  background-image: url(part2-img5.jpg);
}

.p2n2 {
  background-image: url(part2-img17.jpg);
}

.calloutsection {
  width: 100%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.callout {
  font-family: var(--proxima);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 7vh;
  max-width: 100%;
  margin: 3vh 0vh 3vh 0;
}

.photocredits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 100%;
}

.photocredittext {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 1.6vh;
  margin-bottom: 0;
  max-width: 50vh;
}

.creditgrey {
  color: #9F9F9F;
}

.statsection {
  width: 100%;
  padding: var(--padding);
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.white {
  color: white;
}

.mobblk {
  color: white;
}

.num-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.numline {
  height: 1vh;
  width: 15vh;
  background: #7C7C00;
  margin-right: 2vh;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.md-text {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 3vh;
  text-transform: uppercase;
  max-width: 40vh;
  color: white;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.wideinternal {
  width: 100%;
  padding: var(--padding);
}

.wicontainer {
  width: 100%;
  height: 50vh;
  background-image: url(part1-img10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.wi2 {
  background-image: url(int-img3.jpg);
}

.wi3 {
  background-image: url(int-img5.jpg);
}

.wi4 {
  background-image: url(part1-img14.jpg);
}

.wi5 {
  background-image: url(part2-img15.jpg);
}

.wi6 {
  background-image: url(part3-img11.jpg);
}

.wi7 {
  background-image: url(part3-img15.jpg);
}

.wi8 {
  background-image: url(part4-img4.jpg);
}

.wi9 {
  background-image: url(part4-img8.jpg);
}

.wi10 {
  background-image: url(part4-img10.jpg);
}

.wi11 {
  background-image: url(part4-img14.jpg);
}

.wi12 {
  background-image: url(part4-img16.jpg);
}

.wi13 {
  background-image: url(part5-img3.jpg);
}

.wi14 {
  background-image: url(part5-img5.jpg);
}

.wi15 {
  background-image: url(part5-img9.jpg);
}

.wi16 {
  background-image: url(con-img7.jpg);
}

.picturesection {
  width: 100%;
  height: auto;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide {
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  padding: var(--padding);
}

.w1 {
  background-image: url("int-img4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w2 {
  background-image: url("part1-img2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w3 {
  background-image: url("part1-img3.jpg");
}

.w4 {
  background-image: url("part1-img4.jpg");
}

.w5 {
  background-image: url("part1-img9.jpg");
}

.w6 {
  background-image: url("part1-img11.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w7 {
  background-image: url("part1-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w8 {
  background-image: url("part1-img18.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w9 {
  background-image: url("part2-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w10 {
  background-image: url("part2-img4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w11 {
  background-image: url("part2-img6.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w12 {
  background-image: url("part2-img10.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w13 {
  background-image: url("part2-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w14 {
  background-image: url("part2-img21.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w15 {
  background-image: url("part4-img9.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w16 {
  background-image: url("con-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w17 {
  height: 100vh;
  background-image: url("con-img10.jpg"), -webkit-gradient(linear, left top, left bottom, from(#000000b4), to(#000000a9));
  background-image: url("con-img10.jpg"), linear-gradient(#000000b4, #000000a9);
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bigpicturesection {
  width: 100%;
  height: auto;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

.bigpicture {
  width: 100%;
}

.bigpicture2 {
  width: 70%;
}

.superwide {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: var(--padding);
}

.sw1 {
  background-image: url(int-img6.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sw2 {
  background-image: url(part1-img1.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p2sw1 {
  background-image: url(part2-img9.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p5mdw2 {
  background-image: url(part5-img4.jpg);
}

.pcinbound {
  background: rgba(255, 255, 255, 0.897);
  border-radius: 1vh;
  padding: 1vh;
}

.mapsection {
  width: 100%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.mapwrapper-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map {
  width: 100%;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.mapline {
  width: 100%;
  height: 3px;
  background: black;
}

.maptext {
  font-size: 3.5vh;
  width: 100%;
  color: grey;
  font-family: var(--parafont);
  font-weight: 500;
  font-style: normal;
  margin-top: 3vh;
}

.mapheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mapheading span {
  font-size: 4vh;
  font-family: brand;
  margin: 0.05rem;
}

.chapter {
  width: 100%;
  height: 80vh;
  background: #667A74;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapter2 {
  background: #CBAD2A;
}

.chapter3 {
  background: #596990;
}

.chapter4 {
  background: #BE8780;
}

.chapter5 {
  background: #808DB9;
}

.c1sf {
  background: #00414A;
}

.chapterheadwrapper {
  width: 100%;
}

.chapterhead {
  font-family: var(--proxima);
  font-size: 5vh;
  color: white;
  text-transform: uppercase;
}

.chapternumber {
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statcontainer {
  width: 100%;
  height: 50vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centerstat {
  margin: 0;
}

.mdtextcenter {
  text-align: center;
}

.GeorgeOrmsby {
  width: 70%;
  margin-top: -20vh;
}

.p1picture1 {
  width: 70%;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
  margin-top: -20vh;
}

.p1picture2 {
  width: 70%;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
  margin-bottom: -10vh;
}

.p2picture1 {
  width: 70%;
  margin-bottom: -10vh;
  z-index: 1;
}

.p3picture1 {
  width: 70%;
  margin-bottom: -10vh;
  z-index: 1;
}

.p3picture2 {
  width: 70%;
  margin-top: -20vh;
  z-index: 1;
}

.supernarrow {
  width: 100%;
  height: 60vh;
  background-image: url(part1-img15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.p2sn1 {
  background-image: url(part2-img7.jpg);
}

.p2sn2 {
  background-image: url(part2-img11.jpg);
}

.p2sn3 {
  background-image: url(part2-img23.jpg);
}

.p3sn1 {
  background-image: url(part3-img16.jpg);
}

.p5sn1 {
  background-image: url(part5-img7.jpg);
}

.consn1 {
  background-image: url(con-img4.jpg);
}

.consn2 {
  background-image: url(con-img6.jpg);
}

.mdwide {
  width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: var(--padding);
}

.mdw1 {
  background-image: url("part2-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw2 {
  background-image: url("part2-img8.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw3 {
  background-image: url("part2-img12.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw4 {
  background-image: url("part2-img14.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw5 {
  background-image: url("part2-img16.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw6 {
  background-image: url("part2-img18.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw7 {
  background-image: url("part2-img19.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw8 {
  background-image: url("part2-img20.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mdw9 {
  background-image: url("part2-img22.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw1 {
  background-image: url("part3-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw2 {
  background-image: url("part3-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw3 {
  background-image: url("part3-img4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw4 {
  background-image: url("part3-img5.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw5 {
  background-image: url("part3-img7.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw6 {
  background-image: url("part3-img8.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw7 {
  background-image: url("part3-img9.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw8 {
  background-image: url("part3-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw9 {
  background-image: url("part3-img17.jpg");
}

.p3mdw10 {
  background-image: url("part3-img18.jpg");
}

.p4mdw1 {
  background-image: url("part4-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw2 {
  background-image: url("part4-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw3 {
  background-image: url("part4-img5.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw4 {
  background-image: url("part4-img6.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw5 {
  background-image: url("part4-img7.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw6 {
  background-image: url("part4-img11.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw7 {
  background-image: url("part4-img12.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw8 {
  background-image: url("part4-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw9 {
  background-image: url("part4-img15.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw10 {
  background-image: url("part4-img17.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw11 {
  background-image: url("part4-img19.jpg");
}

.p5mdw1 {
  background-image: url("part5-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p5mdw2 {
  background-image: url("part5-img6.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p5mdw3 {
  background-image: url("part5-img10.jpg");
}

.p5mdw4 {
  background-image: url("part5-img11.jpg");
}

.conmdw1 {
  background-image: url("con-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.conmdw2 {
  background-image: url("con-img2.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.conmdw3 {
  background-image: url("con-img9.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.end-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.theendtext {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: brand;
  font-size: 10vh;
  color: white;
}

.endphotocredit {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.begintext {
  font-family: var(--proxima);
  font-size: 3vh;
  color: white;
}

.endphotocredit {
  display: none;
}
/*# sourceMappingURL=mobstyle-v1.css.map */