* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: brand;
  src: url(Brand.ttf);
}

body {
  background-color: white;
}

img {
  cursor: none;
}

:root {
  --padding: 8vh;
  --parafont: freight-big-pro, serif;
  --bigfont: brand;
  --proxima: proxima-nova-extra-condensed,sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 30000vh;
  position: relative;
}

.navbar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.322);
  z-index: 999;
  opacity: 1;
  border-right: 2px solid white;
}

.navtextwrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbartext {
  width: 50rem;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  color: white;
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.menu {
  width: 100%;
  height: 200vh;
  background: rgba(255, 0, 0, 0.274);
  position: absolute;
  z-index: 888;
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: block;
  padding: 10vh;
}

.closebtnwrapper {
  width: 5rem;
  height: 5rem;
  position: fixed;
  z-index: 99999;
  right: 0;
  overflow: hidden;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closebtn {
  width: 3rem;
  height: 3rem;
  background: green;
  position: absolute;
  z-index: 99998;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.openbtn {
  width: 2rem;
  height: 2rem;
  background: black;
  z-index: 999;
}

.mli {
  margin-bottom: 3vh;
  background: green;
  overflow: hidden;
}

.mh {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
}

.mn {
  font-family: brand;
  font-size: 5vh;
}

.ms {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
}

.mnc {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.centerstat {
  margin: 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list span {
  line-height: 15vh;
  font-size: 15vh;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin: 0.05rem;
  font-family: brand;
}

.list span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.mapheading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mapheading span {
  font-size: 11vh;
  font-family: brand;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin: 0.05rem;
}

.mapheading span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.gap {
  width: 3vh;
}

.int-s1 {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(cover.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0% 10%;
}

.logocontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

.logo {
  width: 40%;
}

.arrowcontainer {
  Width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10vh;
}

.arrowbtn {
  background: red;
  width: 20vh;
  height: 20vh;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7vh;
}

.arrow {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 8vh;
}

.arrowbtn:hover .arrow {
  margin-left: 4vh;
}

.chapter {
  width: 80vh;
  height: 100vh;
  background: #667A74;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.1fr 1fr;
      grid-template-rows: 0.1fr 1fr;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapter2 {
  background: #CBAD2A;
}

.chapter3 {
  background: #596990;
}

.chapter4 {
  background: #BE8780;
}

.chapterheadwrapper {
  width: 100%;
}

.chapterhead {
  font-family: var(--proxima);
  font-size: 5vh;
  color: white;
  text-transform: uppercase;
}

.chapternumber {
  width: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chapterintro {
  width: 100vh;
  height: 100vh;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c3 {
  width: 120vh;
}

.chaptertitlecontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
}

.ctc1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chapterheading {
  font-family: var(--proxima);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5vh;
}

.chaptertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  text-align: center;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Change the shape according
        to the image */
  shape-outside: circle();
  background-color: black;
  margin: 0rem 1rem 0rem 0rem;
}

article {
  font-size: 12vh;
  font-family: brand;
  padding-top: 1.5rem;
  color: white;
}

.para {
  font-size: 2vh;
  max-width: 50vh;
  text-align: justify;
  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;
}

.narrow {
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(int-img1.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0% 50%;
}

.n1 {
  background-image: url(int-img2.jpg);
  background-size: 140%;
}

.n2 {
  background-image: url(int-img8.jpg);
}

.n3 {
  background-image: url(part1-img5.jpg);
}

.n4 {
  background-image: url(part1-img8.jpg);
}

.p2n1 {
  background-image: url(part2-img5.jpg);
}

.p2n2 {
  background-image: url(part2-img17.jpg);
}

.supernarrow {
  width: 70vh;
  height: 100vh;
  background-image: url(part1-img15.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 50% 50%;
}

.p2sn1 {
  background-image: url(part2-img7.jpg);
}

.p2sn2 {
  background-image: url(part2-img11.jpg);
}

.p2sn3 {
  background-image: url(part2-img23.jpg);
}

.p3sn1 {
  background-image: url(part3-img16.jpg);
}

.int-s3 img {
  width: 100%;
}

.imgwrapper {
  width: 50%;
  background: blue;
}

.int-s4 {
  width: 150vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  padding: var(--padding);
}

.s4-s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.calloutsection {
  padding: var(--padding);
  width: 100vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.callout {
  font-family: var(--proxima);
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 10vh;
  max-width: 70vh;
}

.decoline {
  height: 0.1vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square {
  width: 2vh;
  height: 2vh;
  border: 0.1vh solid black;
  background: white;
}

.photocredits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 40vh;
}

.pcinbound {
  background: rgba(255, 255, 255, 0.897);
  border-radius: 1vh;
  padding: 1vh;
}

.photocredittext {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 1.6vh;
  margin-bottom: 0;
  max-width: 50vh;
}

.creditgrey {
  color: #9F9F9F;
}

.s4-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statsection {
  width: 80vh;
  height: 100vh;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: var(--padding);
}

.numline {
  height: 1vh;
  width: 15vh;
  background: #7C7C00;
  margin-right: 2vh;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.num-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lg-text {
  font-family: brand;
  font-size: 12vh;
  color: white;
}

.md-text {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 4vh;
  text-transform: uppercase;
  max-width: 40vh;
  color: white;
}

.wide {
  width: 170vh;
  height: 100vh;
  background-image: url("int-img4.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: var(--padding);
}

.w2 {
  background-image: url("part1-img2.jpg");
}

.w3 {
  background-image: url("part1-img3.jpg");
}

.w4 {
  background-image: url("part1-img4.jpg");
}

.w5 {
  background-image: url("part1-img9.jpg");
}

.w6 {
  background-image: url("part1-img11.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w7 {
  background-image: url("part1-img13.jpg");
  background-position: 100% 50%;
  background-size: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w8 {
  background-image: url("part1-img18.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.w9 {
  background-image: url("part2-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w10 {
  background-image: url("part2-img4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.w11 {
  background-image: url("part2-img6.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w12 {
  background-image: url("part2-img10.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.w13 {
  background-image: url("part2-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w14 {
  background-image: url("part2-img21.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.w15 {
  background-image: url("part4-img9.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mdwide {
  width: 140vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0% 50%;
  padding: var(--padding);
}

.mdw1 {
  background-image: url("part2-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mdw2 {
  background-image: url("part2-img8.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw3 {
  background-image: url("part2-img12.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw4 {
  background-image: url("part2-img14.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw5 {
  background-image: url("part2-img16.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mdw6 {
  background-image: url("part2-img18.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw7 {
  background-image: url("part2-img19.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mdw8 {
  background-image: url("part2-img20.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mdw9 {
  background-image: url("part2-img22.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw1 {
  background-image: url("part3-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw2 {
  background-image: url("part3-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw3 {
  background-image: url("part3-img4.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw4 {
  background-image: url("part3-img5.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw5 {
  background-image: url("part3-img7.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw6 {
  background-image: url("part3-img8.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p3mdw7 {
  background-image: url("part3-img9.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw8 {
  background-image: url("part3-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p3mdw9 {
  background-image: url("part3-img17.jpg");
}

.p3mdw10 {
  background-image: url("part3-img18.jpg");
}

.p4mdw1 {
  background-image: url("part4-img1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw2 {
  background-image: url("part4-img3.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw3 {
  background-image: url("part4-img5.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw4 {
  background-image: url("part4-img6.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw5 {
  background-image: url("part4-img7.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw6 {
  background-image: url("part4-img11.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw7 {
  background-image: url("part4-img12.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw8 {
  background-image: url("part4-img13.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p4mdw9 {
  background-image: url("part4-img15.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw10 {
  background-image: url("part4-img17.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p4mdw11 {
  background-image: url("part4-img19.jpg");
}

.white {
  color: white;
}

.superwide {
  width: 250vh;
  height: 100vh;
  background-image: url(int-img6.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sw2 {
  background-image: url(part1-img1.jpg);
  background-size: 150%;
}

.p2sw1 {
  background-image: url(part2-img9.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.posterimg {
  width: 70vh;
  height: auto;
}

.int-s13 {
  width: 80vh;
  height: 100vh;
  background-image: url(int-img8.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.mapsection {
  width: 150vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
}

.mapwrapper-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  width: 80vh;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
}

.mapline {
  width: 100%;
  height: 3px;
  background: black;
}

.maptext {
  font-size: 3.5vh;
  padding: 5vh;
  width: 60vh;
  color: grey;
  font-family: var(--parafont);
  font-weight: 500;
  font-style: normal;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  z-index: 1000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlaytext {
  font-family: brand;
  color: white;
  font-size: 20vh;
}

.overlaytextwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.overlaysub {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
  color: #790101;
  text-align: center;
  margin-top: -5vh;
}

.parablocksection {
  width: 60vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

.chapterparablock {
  display: block;
}

.picturesection {
  width: 40vh;
  height: 100vh;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bigpicturesection {
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

.ps1 {
  width: 60vh;
}

.p3ps1 {
  width: 40vh;
}

.bigpicture {
  width: 70vh;
}

.GeorgeOrmsby {
  width: 60vh;
  margin-left: -30vh;
}

.bigpicture2 {
  width: 50vh;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
}

.p1picture1 {
  width: 40vh;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
  margin-left: -30vh;
}

.p1picture2 {
  width: 50vh;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
  margin-right: -30vh;
}

.p2picture1 {
  width: 90vh;
  margin-left: 30vh;
  z-index: 1;
}

.p3picture1 {
  width: 90vh;
  margin-left: 30vh;
  z-index: 1;
}

.p3picture2 {
  width: 80vh;
  margin-right: 30vh;
  z-index: 1;
}

.poppyflower {
  width: 40vh;
  margin-left: -70vh;
  z-index: -1;
}

.wideinternal {
  width: 140vh;
  height: 100vh;
  padding: var(--padding);
}

.wicontainer {
  width: 100%;
  height: 100%;
  background-image: url(part1-img10.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.wi2 {
  background-image: url(int-img3.jpg);
}

.wi3 {
  background-image: url(int-img5.jpg);
}

.wi4 {
  background-image: url(part1-img14.jpg);
}

.wi5 {
  background-image: url(part2-img15.jpg);
}

.wi6 {
  background-image: url(part3-img11.jpg);
}

.wi7 {
  background-image: url(part3-img15.jpg);
}

.wi8 {
  background-image: url(part4-img4.jpg);
}

.wi9 {
  background-image: url(part4-img8.jpg);
}

.wi10 {
  background-image: url(part4-img10.jpg);
}

.wi11 {
  background-image: url(part4-img14.jpg);
}

.wi12 {
  background-image: url(part4-img16.jpg);
}

.statcontainer {
  width: 80vh;
  height: 100vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mdtextcenter {
  text-align: center;
}

.cursor {
  position: absolute;
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("zoomicon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  border-radius: 100%;
  opacity: 0;
}

.cursor.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cursor.active::before {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .int-s1 {
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */