* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: brand;
  src: url(Brand.ttf);
}

body {
  background-color: white;
}

:root {
  --padding: 10vh;
  --parafont: freight-big-pro, serif;
  --bigfont: brand;
  --proxima: proxima-nova-extra-condensed,sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 2800vh;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
}

.navbar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.322);
  z-index: 999;
  opacity: 1;
  border-right: 2px solid white;
}

.navtextwrapper {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbartext {
  width: 50rem;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  color: white;
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.logocontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logocontainer img {
  width: 40%;
}

.menu {
  width: 100%;
  height: 200vh;
  background: red;
  position: absolute;
  z-index: 888;
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: block;
  padding: 10vh;
}

.closebtnwrapper {
  width: 5rem;
  height: 5rem;
  position: fixed;
  z-index: 99999;
  right: 0;
  overflow: hidden;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.closebtn {
  width: 3rem;
  height: 3rem;
  background: green;
  position: absolute;
  z-index: 99998;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.openbtn {
  width: 2rem;
  height: 2rem;
  background: black;
}

.mli {
  margin-bottom: 3vh;
  background: green;
  overflow: hidden;
}

.mh {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
}

.mn {
  font-family: brand;
  font-size: 5vh;
}

.ms {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
}

.mnc {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.list span {
  line-height: 15vh;
  font-size: 15vh;
  text-transform: uppercase;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  margin: 0.05rem;
  font-family: brand;
}

.list span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.gap {
  width: 5rem;
}

.int-s1 {
  width: 100vw;
  height: 100vh;
  background-image: url(cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 10%;
}

.int-s2 {
  background: #FCF9E8;
  width: 166vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
}

.s2-int-intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
}

.chapterheading {
  font-family: var(--proxima);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5vh;
}

.chaptertitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.round {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  text-align: center;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Change the shape according
        to the image */
  shape-outside: circle();
  background-color: black;
  margin: 0rem 1rem 0rem 0rem;
}

article {
  font-size: 15vh;
  font-family: brand;
  padding-top: 1.5rem;
  color: white;
}

.para {
  font-size: 2.1vh;
  max-width: 40vh;
  text-align: justify;
  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;
}

.int-s3 {
  width: 100vh;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(int-img1.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 0% 50%;
}

.int-s3 img {
  width: 100%;
}

.imgwrapper {
  width: 50%;
  background: blue;
}

.int-s4 {
  width: 150vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  padding: var(--padding);
}

.s4-s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.callout {
  font-family: var(--proxima);
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 8vh;
  max-width: 70vh;
}

.photocredits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 40vh;
}

.photocredittext {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 1.5vh;
  margin-bottom: 0;
  max-width: 50vh;
}

.s4-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.int-s5 {
  width: 80vh;
  height: 100vh;
  background: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding: var(--padding);
}

.numline {
  height: 1vh;
  width: 15vh;
  background: #7C7C00;
  margin-right: 2vh;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.num-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lg-text {
  font-family: brand;
  font-size: 12vh;
  color: white;
}

.md-text {
  font-family: var(--proxima);
  font-style: normal;
  font-size: 4vh;
  text-transform: uppercase;
  max-width: 40vh;
  color: white;
}

.int-s6 {
  width: 100vh;
  height: 100vh;
  background-image: url(int-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
}

.int-s7 {
  width: 360vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr 1.2fr 0.5fr;
      grid-template-columns: 1fr 0.5fr 1.2fr 0.5fr;
  padding: var(--padding);
}

.s7-s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
}

.s7-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-container {
  width: 100vh;
  height: 100%;
  padding: var(--padding);
  background-image: url(int-img3.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.poppy-flower {
  width: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -12rem;
  z-index: 1;
  z-index: -1;
}

.s7-s2, .s7-s4 {
  display: -ms-grid;
  display: grid;
}

.int-s8 {
  width: 140vh;
  height: 100vh;
  background-image: url("int-img4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: var(--padding);
}

.int-s9 {
  width: 250vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 0.8fr 0.5fr;
      grid-template-columns: 0.8fr 0.8fr 0.5fr;
}

.s9-s2 {
  display: -ms-grid;
  display: grid;
}

.img-container2 {
  width: 70vh;
  height: 100%;
  padding: var(--padding);
  background-image: url(int-img5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.white {
  color: white;
}

.int-s10 {
  width: 250vh;
  height: 100vh;
  background-image: url(int-img6.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.int-s11 {
  width: 150vh;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  padding: var(--padding);
}

.s11-s1 {
  display: -ms-grid;
  display: grid;
}

.posterimg {
  width: 70vh;
  height: auto;
}

.int-s12 {
  width: 100vh;
  height: 100vh;
  padding: var(--padding);
}

.int-s13 {
  width: 80vh;
  height: 100vh;
  background-image: url(int-img8.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

.int-s14 {
  width: 60vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
}

.int-s15 {
  width: 150vh;
  height: 100vh;
  padding: var(--padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 0.5fr;
      grid-template-rows: 1fr 0.5fr;
}

.s15-s1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template-columns: 1fr 0.5fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  width: 80vh;
  -webkit-box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
          box-shadow: 5px 41px 43px -4px rgba(0, 0, 0, 0.14);
}

.mapline {
  width: 100%;
  height: 3px;
  background: black;
}

.maptext {
  font-size: 3.5vh;
  padding: 5vh;
  width: 40vh;
  color: grey;
  font-family: var(--parafont);
  font-weight: 500;
  font-style: normal;
}

.mapheading {
  font-size: 11vh;
  font-family: brand;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  z-index: 1000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlaytext {
  font-family: brand;
  color: white;
  font-size: 20vh;
}

.overlaytextwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.overlaysub {
  font-family: var(--proxima);
  font-style: normal;
  text-transform: uppercase;
  color: #790101;
  text-align: center;
  margin-top: -5vh;
}
/*# sourceMappingURL=style.css.map */